.admin-news-create-card-wrapper {
    display: flex;
    justify-content: center;
}

.admin-news-create-card {
    max-width: 1200px;
}

.content-preview-output {
    white-space: pre-wrap;
    height: fit-content;
}