.wrap-background {
    background-color: #e6ac00;
    position: relative;
    z-index: 10;
}

.header-logo {
    height: 4rem;
}

.title {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.left, .right {
    text-align: center;
}

.left, .right {
    font-weight: 500;
    flex: 1;
    align-items: center;
    gap: 2rem;
}

.left {
    justify-content: start;
}

.right {
    justify-content: end;
}

.navbar {
    justify-content: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: gray;
}

.searchbox {
    border-radius: 0.5em;
    width: 100%;
    background-color: black;
    border-color: black;
    color: white;
}

.searchbox::placeholder {
    color: white;
}

.searchbox:focus {
    background-color: black;
    color: white;
    border-color: white;
}

.nav-item.active {
    background-color: #b38600;
    border-radius: 0.5rem;
}

.nav-item.active .nav-link {
    color: black;
}

.nav-item:hover {
    background-color: #b38600;
    border-radius: 0.5rem;
    cursor: pointer;
}

.header-logo-smallscreen {
    display: none;
}

.navbar-toggler {
    margin-left: 1.5rem;
}

@media (max-width: 992px) {
    .navbar {
        justify-content: start;
        align-self: center;
    }

    .navbar-expand-lg #header {
        padding-left: 1.5rem;
        margin-top: 1.5rem;
    }

    .navbar-expand-lg .navbar-nav .header-logo {
        display: none;
    }

    .wrap-background {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header-logo-smallscreen {
        display: inline;
        object-fit: scale-down;
        height: 4rem;
        margin: 1.5rem 1rem 1.5rem 1rem;
    }

    .navbar-expand-lg .navbar-nav .title {
        display: none;
    }
    
    .navbar-expand-lg .navbar-nav .right {
        justify-content: start;
    }

    .navbar-expand-lg .navbar-nav .left, .navbar-expand-lg .navbar-nav .right {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav .searchbox-form {
        order: 3;
    }
}