.admin-dashboard-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0 3rem 0;
}

.max-width-div {
    max-width: 1400px;
}

.membership-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership-entry-wrapper {
    width: 100%;
}

.membership-title {
    text-align: center;
}

.membership-entry {
    margin-bottom: 1rem;
}

.stretch {
    flex: 1;
}

.membership-entry-header {
    font-weight: 700;
}

.membership-entry-username-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 1rem;
}

.membership-entry-username {
    word-break: break-all;
    font-weight: 600;
}

.membership-entry-enabled {
    all: unset;
    font-weight: 700;
}

.membership-entry-enabled:hover {
    font-weight: 900;
    cursor: pointer;
}

.membership-entry-approval-icons {
    all: unset;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.membership-entry-approval-x:hover::before {
    content: "\2713";
    color: green;
}

.membership-entry-approval-checkmark:hover::before {
    content: "\2716";
    color: red;
}

.membership-entry-membersince,
.membership-entry-membersince-header {
    flex: 0 0 11rem;
}

.membership-entry-haspaidmembershipfee,
.membership-entry-haspaidmembershipfee-header {
    flex: 0 0 8.5rem;
}

.membership-entry-monthlytransactionreceiptpath,
.membership-entry-monthlytransactionreceiptpath-header {
    flex: 0 0 12rem;
}

.membership-entry-approval,
.membership-entry-approval-header {
    flex: 0 0 7rem;
}

.membership-entry-header>* {
    border: none;
    background-color: transparent;
}

.membership-entry-header>*,
.membership-entry>* {
    display: flex;
    align-items: center;
}

.membership-entry-header>li:not(:first-child),
.membership-entry>li:not(:first-child) {
    justify-content: center;
}

.manage-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.manage-news-redirect {
    padding: 0.5rem;
    border: 1.5px solid rgb(181, 181, 181);
    border-radius: 0.5rem;
    background-color: rgb(231, 231, 231);
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
}

.manage-news-redirect:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(181, 181, 181);
    transition: box-shadow .5s;
    box-shadow: 4px 4px 10px 2px #0000008a;
}

.manage-news-redirect-arrow {
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    .membership-entry-header {
        display: none;
    }

    .membership-entry {
        margin-bottom: 1.5rem;
    }

    .membership-entry>li:not(:first-child) {
        width: 100%;
        justify-content: flex-start;
        flex: auto;
    }

    .membership-entry-approval-icons {
        padding-left: 0;
    }
}