<div class="card col-6 mx-auto mt-5">
    <div class="card-header">
        <h4>Forgot password?</h4>
        <div>Enter your email below, and we'll mail you a link where you can reset your password.</div>
    </div>
    <div class="card-body bg-light">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="mt-3 d-flex flex-wrap buttons">
                <button class="btn btn-primary me-3" type="submit">Recover</button>
                <button class="btn btn-primary" type="button" (click)="onBack()">Back</button>
            </div>
        </form>
    </div>
</div>