<div class="card col-6 mx-auto mt-5">
    <div class="card-header">
        <h4>Forgot your password?</h4>
        <div>Enter your email below, and we'll mail you a link where you can reset your password.</div>
    </div>
    <div class="card-body bg-light">
        <div *ngIf="errorMessage != null" class="alert alert-danger">{{ errorMessage }}</div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" id="email" name="email" [(ngModel)]="email" required email #em="ngModel">
                <div class="alert alert-warning p-2 mt-1" *ngIf="!em.valid && (em.touched || em.dirty)">
                    <div *ngIf="em.errors?.['required']">Email cannot be empty</div>
                    <div *ngIf="em.errors?.['email']">Email isn't valid</div>
                </div>
            </div>
            <div class="mt-3 d-flex flex-wrap buttons">
                <button class="btn btn-primary me-3" type="submit">Send mail</button>
                <button class="btn btn-primary" type="button" (click)="onBack()">Back</button>
            </div>
        </form>
    </div>
</div>

<app-popup-modal #popup>
    <h2 class="mb-3">If an account with the given email exists, we've sent a recovery link.</h2>
    <div>
        <button class="btn btn-primary" (click)="onReturn();">Return to login</button>
    </div>
</app-popup-modal>