.page-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #E6AC00;
    opacity: 0.05;
    background: linear-gradient(135deg, #00000055 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(225deg, #000000 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 22px 22px, linear-gradient(45deg, #000000 25%, #ac8100 25%) 0px 0/ 22px 22px;
}