<app-header></app-header>

<div class="page-background"></div>

<router-outlet></router-outlet>

<app-popup-modal #popup>
    <h2 style="text-align: center; font-weight: bold;" class="mb-3">{{ "site.popup.title" | translate }}</h2>
    <div style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;">
        <button class="btn-custom-formatted btn-custom-stock" (click)="closePopup();">{{ "site.popup.close" | translate
            }}</button>
        <button class="btn-custom-formatted btn-custom-danger" (click)="onLogout();">{{ "site.popup.logout" | translate
            }}</button>
    </div>
</app-popup-modal>