app-popup-modal {
    display: none;
}

.popup-modal {
    z-index: 20;
}

.popup-modal, .popup-modal-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.popup-modal-background {
    z-index: 15;
    background-color: gray;
    opacity: 0.7;
}