<div class="page-counter-container">
    <div *ngIf="currentPage > 1" (click)="onSwitchPagesWithArrow(-1)" class="page-counter-arrow mx-2">&#8249;</div>
    <div *ngFor="let page of pagesShown" class="page-counter-items mx-2">
        <div *ngIf="page == currentPage; else inactive" (click)="onSwitchPages($event)"
            class="page-counter-item page-active" id="page-counter-item-{{ page }}">{{ page }}</div>
        <ng-template #inactive>
            <div (click)="onSwitchPages($event)" class="page-counter-item" id="page-counter-item-{{ page }}">{{ page }}
            </div>
        </ng-template>
    </div>
    <div *ngIf="currentPage < numberOfPages" (click)="onSwitchPagesWithArrow(1)" class="page-counter-arrow mx-2">&#8250;
    </div>
</div>