<div class="news-details-container">
    <div class="news-details-card card bg-light">
        <div @appear class="news-details-header card-header w-100 bg-light">
            <div *ngIf="isAdmin" class="news-details-admin-tools mt-2 mb-3 w-100">
                <div @toggleOnOff class="btn btn-dark news-details-admin-toggle" (click)="toggleEditMode();">Toggle
                    admin features</div>
                <div *ngIf="isEditMode" @toggleOnOff class="news-details-admin-button-wrapper">
                    <button (click)="onEditNews();" class="news-details-admin-update" type="button" placement="bottom"
                        ngbTooltip="Edit">
                        <i class="fa-solid fa-pen-to-square news-details-admin-update-icon"></i>
                    </button>
                    <button (click)="onDeleteNews();" class="news-details-admin-delete" type="button" placement="bottom"
                        ngbTooltip="Delete">
                        <i class="fa fa-trash news-details-admin-delete-icon"></i>
                    </button>
                </div>
            </div>
            <h1 class="news-details-title">{{ newsDetails.title }}</h1>
            <div class="news-details-metadata">
                <div class="news-details-author">
                    By: <span class="news-details-author-name"
                        style="text-transform: uppercase; font-weight: bold; font-size: 0.9rem; display: inline-block; height: 100%; margin-right: 1rem;"
                        (click)="searchNewsByAuthor();">{{
                        newsDetails.author }}</span>
                </div>
                <div class="news-details-createdate">{{ newsDetails.createDate | date:'yyyy.MM.dd. HH:mm' }}</div>
            </div>
            <div *ngIf="newsDetails.lastModified != null" class="news-details-modified-info">
                <div style="font-style: italic;">
                    Updated on {{ newsDetails.lastModified.modifyDate | date:'yyyy.MM.dd. HH:mm' }} by <span
                        class="news-details-author-name"
                        style="font-variant: small-caps; text-decoration: underline;">{{
                        newsDetails.lastModified.modifyAuthor }}</span>.
                </div>
            </div>
            <div class="news-details-image-wrapper">
                <img [src]="newsDetails.indexImageUrl" alt="news-details-image" class="news-details-image">
            </div>
        </div>
        <div @appear class="news-details-body card-body w-100 bg-light">
            <div class="news-details-description">{{ newsDetails.description }}</div>
            <div class="news-details-content" [innerHtml]="newsDetails.content"></div>
        </div>
        <hr *ngIf="latestNewsList.length > 0">
        <div *ngIf="latestNewsList.length > 0" class="latest-news-container">
            <h2 class="latest-news-title">You might be interested in these too...</h2>
            <div [@slideInList]="latestNewsList" class="news-grid">
                <li @slideIn #li *ngFor="let news of latestNewsList" class="news-entry-wrapper"
                    (click)="onOpenNews(news.newsId, news.title)">
                    <div class="news-entry-box">
                        <div class="news-entry">
                            <div class="news-icon-wrapper">
                                <img [src]="news.indexImageUrl" alt="news-icon" class="news-icon img-fluid">
                            </div>
                            <div class="news-info">
                                <div #newstitle class="news-title" [id]="'news-title-' + news.newsId">
                                    <span>{{ news.title }}</span>
                                </div>
                                <div class="news-description-wrapper">
                                    <div class="news-description">{{ news.description }}</div>
                                </div>
                                <div class="news-info-footer-wrapper">
                                    <div class="news-info-footer">
                                        <div class="news-info-footer-left-wrapper">
                                            <div class="news-info-footer-left">
                                                <div class="news-createdate">
                                                    {{ news.createDate | date:'yyyy.MM.dd. HH:mm' }}
                                                </div>
                                                <div class="news-circle mx-2">&#11044;</div>
                                                <div class="news-author"
                                                    style="max-width: 10rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 0.5rem;">
                                                    {{ news.author }}</div>
                                            </div>
                                        </div>
                                        <div class="news-modify-wrapper">
                                            <div *ngIf="news.lastModified != null" class="news-modify">
                                                <div class="news-modify-date me-1">
                                                    Updated on <i style="margin: 0 0.1rem 0 0.1rem;">{{
                                                        news.lastModified.modifyDate | date:'yyyy.MM.dd. HH:mm' }}</i>
                                                    by:
                                                </div>
                                                <div class="news-modify-author" style="max-width: 10rem; overflow: hidden; text-overflow: ellipsis;
                                                white-space: nowrap; padding-right: 0.5rem;">
                                                    {{ news.lastModified.modifyAuthor }}.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news-arrow">&#62;</div>
                        </div>
                    </div>
                    <hr>
                </li>
            </div>
            <div class="all-news" (click)="onRedirectToAllNews()">
                All news <span class="all-news-arrow">&#10230;</span>
            </div>
        </div>
    </div>
</div>

<app-popup-modal *ngIf="isAdmin" #popup>
    <h2 style="text-align: center; font-weight: bold;" class="mb-3">Are you sure?</h2>
    <div style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;">
        <button class="btn-custom-formatted btn-custom-stock" (click)="onConfirm();">Confirm</button>
        <button class="btn-custom-formatted btn-custom-danger" (click)="closePopup();">Cancel</button>
    </div>
</app-popup-modal>