.news-details-container {
    height: fit-content;
    margin: 2rem 0.5rem 2rem 0.5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.news-details-card {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 80vw;
    border-radius: 0.5rem;
}

.news-details-header {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.news-details-metadata {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    flex-wrap: wrap;
}

.news-details-author-name:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.news-details-createdate {
    color: gray;
}

.news-details-modified-info {
    margin-bottom: 0.2rem;
}

.news-details-image-wrapper {
    display: flex;
    justify-content: center;
}

.news-details-image {
    max-width: 100%;
    max-height: 100%;
}

.news-details-description {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.news-details-content {
    line-height: 1.7rem;
    white-space: pre-wrap;
}

@media (min-width: 1400px) {
    .news-details-card {
        max-width: 1344px;
    }
}

@media (max-width: 992px) {
    .news-details-card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .news-details-card {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .news-info-footer-left {
        display: block;
    }

    .news-author::before {
        content: "By: ";
        font-style: normal;
    }

    .news-circle {
        display: none;
    }
}

/* ---------------------------------
------------------------------------
----------------------------------*/

.news-entry-box {
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 1.2rem;
    transition: box-shadow .5s;
}

.news-entry-box:hover {
    background-color: gainsboro;
    box-shadow: 8px 8px 18px 2px #0000008a;
}

.news-entry {
    display: flex;
    justify-content: center;
    height: 15rem;
}

.news-icon-wrapper {
    width: 20rem;
    height: 100%;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.news-icon {
    max-height: 100%;
    max-width: 100%;
}

.news-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 15rem;
}

.news-description-wrapper {
    margin-top: 0.5rem;
}

.news-description {
    display: block;
    display: -webkit-box;
    overflow-wrap: anywhere;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.news-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 0.3rem;
    border-left: 0.3rem solid #E6AC00;
    display: flex;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-info-footer-wrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.news-info-footer {
    display: flex;
    gap: 0 1rem;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-info-footer-left-wrapper,
.news-info-footer-left {
    display: flex;
}

.news-circle {
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-author {
    font-style: italic;
}

.news-modify-wrapper {
    display: flex;
    text-decoration: underline;
}

.news-info-footer-left-wrapper,
.news-modify-wrapper {
    align-items: flex-end;
}

.news-modify {
    display: flex;
    flex-wrap: wrap;
}

.news-arrow {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 1rem;
}

.news-grid>li:last-of-type hr {
    display: none;
}

.all-news {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    padding: 0.5rem;
    border: 1.5px solid rgb(181, 181, 181);
    border-radius: 0.5rem;
    background-color: rgb(231, 231, 231);
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}

.all-news:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(181, 181, 181);
    transition: box-shadow .5s;
    box-shadow: 4px 4px 10px 2px #0000008a;
}

.all-news-arrow {
    font-size: 1.5rem;
}

@media (max-width: 1400px) {
    .news-description {
        -webkit-line-clamp: 4;
    }
}

@media (max-width: 992px) {
    .news-grid {
        display: grid;
        grid-auto-columns: 2;
        grid-template-columns: repeat(auto-fit, minmax(max(250px, 50%), 1fr));
        justify-content: center;
        align-items: center;
    }

    .news-entry-box:hover {
        background-color: transparent;
        box-shadow: 8px 8px 18px 2px #0000008a;
    }

    .news-entry {
        height: fit-content;
        flex-direction: column;
        padding: 0;
        border-radius: 0;
    }

    .news-icon-wrapper,
    .news-icon {
        position: static;
    }

    .news-icon-wrapper {
        width: 100%;
    }

    .news-info {
        padding: 0 0.5rem 0 0.5rem;
        width: 100%;
    }

    .news-info-footer-wrapper {
        display: none;
    }

    .news-title {
        display: block;
        width: fit-content;
        transform: translateY(-100%);
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        margin-right: 3rem;
        font-size: clamp(1rem, 2vw, 1.7rem);
    }

    .news-title span {
        --bs-bg-opacity: 0.6;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
        box-decoration-break: clone;
        padding: 0.1rem;
        overflow-wrap: anywhere;
        display: flex;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .news-description-wrapper {
        display: none;
    }

    .news-arrow {
        display: none;
    }

    .news-grid hr {
        display: none;
    }
}