<div class="pt-5 pb-5 ticket-create-wrapper">
    <div class="card col-12 col-sm-11 col-md-10 col-lg-8 ticket-create-card">
        <div class="card-body bg-light">
            <h4 class="ticket-create-title mb-4">Create new ticket</h4>
            <div>
                <div *ngIf="errorMessage != null" class="alert alert-danger">{{ errorMessage }}</div>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="content">Describe your issue</label>
                        <textarea class="form-control" [rows]="contentRowCount" id="content" name="content"
                            [(ngModel)]="content" required #co="ngModel"></textarea>
                        <div class="alert alert-warning p-2 mt-1" *ngIf="!co.valid && co.touched">
                            <div *ngIf="co.errors?.['required']">Ticket content cannot be empty</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attachments">Attach files</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                    style="height: 100%; border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                    <i class="fa-solid fa-paperclip" style="color: black; font-size: 1.1rem;"></i>
                                </span>
                            </div>
                            <input #attachments class="form-control" type="file" id="attachments"
                                (change)="onUploadFiles($event)" multiple accept="image/*,.pdf">
                        </div>
                        <div class="attachment-wrapper">
                            <div *ngFor="let file of attachmentFiles; let i=index" class="attachment-item">
                                <i class="fa-solid fa-file attachment-icon"
                                    style="color: black; display: flex; align-items: center;"></i>
                                <div class="attachment-name">{{ file.name }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        We'll get back to you as soon as we can.
                    </div>
                    <div class="mt-3 d-flex flex-wrap buttons">
                        <button class="btn-custom-formatted btn-custom-stock me-3" type="submit">Create ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-popup-modal #popup>
    <h2 style="text-align: center; font-weight: bold;" class="mb-3">Ticket successfully created!</h2>
    <div style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;">
        <button class="btn-custom-formatted btn-custom-success" (click)="onRedirectToAllTickets();">View your
            tickets</button>
        <button class="btn-custom-formatted btn-custom-stock" (click)="closePopup();">Close</button>
    </div>
</app-popup-modal>