.news-page-card {
    padding: 0 1rem 1rem 1rem;
    border: none;
    border-radius: 1rem;
    width: 80vw;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 0px 20px 0px #5b5b5b;
    box-shadow: 0px 0px 20px 0px #5b5b5b;
}

.news-page-header {
    border: none;
}

.news-container {
    height: fit-content;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.news-entry-box {
    padding: 1rem;
    cursor: pointer;
    border-radius: 1.2rem;
    transition: box-shadow .5s;
}

.news-entry-box:hover {
    background-color: gainsboro;
    box-shadow: 8px 8px 18px 2px #0000008a;
}

.news-entry {
    display: flex;
    justify-content: center;
    height: 15rem;
}

.news-icon-wrapper {
    width: 20rem;
    height: 100%;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.news-icon {
    max-height: 100%;
    max-width: 100%;
}

.news-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 15rem;
}

.news-description-wrapper {
    margin-top: 0.5rem;
}

.news-description {
    display: block;
    display: -webkit-box;
    overflow-wrap: anywhere;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.news-title {
    font-weight: bold;
    font-size: 1.7rem;
    padding-left: 0.3rem;
    border-left: 0.3rem solid #E6AC00;
    display: flex;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-info-footer-wrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.news-info-footer {
    display: flex;
    gap: 0 1rem;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-info-footer-left-wrapper,
.news-info-footer-left {
    display: flex;
}

.news-circle {
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-author {
    font-style: italic;
}

.news-modify-wrapper {
    display: flex;
    text-decoration: underline;
}

.news-info-footer-left-wrapper,
.news-modify-wrapper {
    align-items: flex-end;
}

.news-modify {
    display: flex;
    flex-wrap: wrap;
}

.news-arrow {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 1rem;
}

.news-page-title {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

.card-body>li:last-of-type hr {
    display: none;
}

.news-page-admin {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

.news-entry-wrapper {
    display: flex;
    flex-direction: column;
}

.news-page-admin-tools {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 1rem 2rem;
}

.news-entry-admin-tools {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
}

.news-page-admin-button-wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.news-page-admin-create {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.news-page-admin-create-icon,
.news-page-admin-delete-multiple-icon,
.news-page-admin-update,
.news-page-admin-delete {
    all: unset;
    cursor: pointer;
}

.news-page-admin-create-icon,
.news-page-admin-delete-multiple-icon {
    display: flex;
    align-items: center;
}

.news-page-admin-update-icon {
    color: black;
}

.news-page-admin-delete-icon {
    color: red;
}

.news-page-admin-create-icon:hover,
.news-page-admin-delete-multiple-icon:hover,
.news-page-admin-update:hover,
.news-page-admin-delete:hover {
    opacity: 0.5;
}

.news-entry-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news-entry-input {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;
}

.news-page-admin-toggle:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: box-shadow 0.2s;
    box-shadow: 4px 4px 10px 2px #0000008a;
}

.news-page-admin-delete-selected {
    white-space: nowrap;
}

@media (min-width: 2000px) {
    .news-page-card {
        max-width: 1600px;
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .news-page-card {
        max-width: 1200px;
    }
}

@media (max-width: 1400px) {
    .news-description {
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 992px) {
    .news-page-card {
        width: 90%;
    }

    .news-info-footer-wrapper {
        flex-direction: column;
        justify-content: end;
    }

    .news-entry-box {
        padding-bottom: 0;
    }

    .news-entry-box:hover {
        background-color: transparent;
        box-shadow: 8px 8px 18px 2px #0000008a;
    }

    .news-entry {
        height: fit-content;
        flex-direction: column;
        padding: 0;
        border-radius: 0;
    }

    .news-icon-wrapper,
    .news-icon {
        position: static;
    }

    .news-icon-wrapper {
        width: 100%;
    }

    .news-info {
        padding: 0 1rem 1rem 1rem;
        width: 100%;
    }

    .news-title {
        width: fit-content;
        transform: translateY(-100%);
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        margin-right: 3rem;
        font-size: calc(1rem + 1.5vw);
    }

    .news-title span {
        --bs-bg-opacity: 0.7;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
        box-decoration-break: clone;
        padding: 0.1rem;
        overflow-wrap: anywhere;
    }

    .news-description-wrapper {
        margin-bottom: 1rem;
    }

    .news-arrow {
        display: none;
    }

    .news-page-admin {
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .news-entry-wrapper {
        display: flex;
        flex-direction: column;
    }

    .news-page-admin-delete {
        color: red;
        text-align: right;
    }

    .news-page-admin-toggle,
    .news-page-admin-delete-selected {
        font-size: calc(0.8rem + 0.5vw);
    }
}

@media (max-width: 700px) {
    .news-page-card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .news-container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .news-description-wrapper {
        display: none;
    }

    .news-modify {
        display: none;
    }

    .news-circle {
        display: none;
    }

    .news-info-footer-wrapper {
        margin-top: 0.5rem;
    }

    .news-info-footer {
        width: 100%;
    }

    .news-info-footer-left-wrapper {
        width: 100%;
    }

    .news-info-footer-left {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        gap: 0 1rem;
    }

    .news-author::before {
        content: "By: ";
        font-style: normal;
    }

    .news-title {
        display: flex;
        width: fit-content;
        transform: none;
        padding: 0;
        margin: 0;
        border: none;
        font-size: calc(0.8rem + 1.5vw);
    }

    .news-title span {
        background-color: transparent;
        padding: 0;
        overflow-wrap: normal;
    }

    .news-info {
        padding: 0.5rem 0.1rem 1rem 0.1rem;
    }

    .news-page-body {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}