@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

html {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
}