@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    margin: 0;
}