.buttons {
    row-gap: 1rem;
}

.karate-icon {
    width: 5rem;
    position: absolute;
    right: 0.5rem;
    top: 1rem;
}

.name-wrapper {
    display: flex;
    gap: 1rem 3rem;
}

.name-wrapper-item {
    flex: 1;
}

@media (max-width: 576px) {
    .name-wrapper {
        flex-direction: column;
    }
}