<div class="pt-5">
    <div class="card col-10 col-lg-6 mx-auto">
        <div class="card-header">
            <h4>Register</h4>
        </div>
        <div class="card-body bg-light">
            <div *ngIf="errorMessage != null" class="alert alert-danger">{{ errorMessage }}</div>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate passwordsValidator>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" [(ngModel)]="username" required minlength="4" #un="ngModel">
                    <div class="alert alert-warning p-2 mt-1" *ngIf="!un.valid && (un.touched || un.dirty)">
                        <div *ngIf="un.errors?.['required']">Username cannot be empty</div>
                        <div *ngIf="un.errors?.['minlength']">Username must be at least 4 characters long</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" [(ngModel)]="email" email required #em="ngModel">
                    <div class="alert alert-warning p-2 mt-1" *ngIf="!em.valid && (em.touched || em.dirty)">
                        <div *ngIf="em.errors?.['required']">Email cannot be empty</div>
                        <div *ngIf="em.errors?.['email']">Email isn't valid</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" required minlength="8" #pw="ngModel">
                    <div class="alert alert-warning p-2 mt-1" *ngIf="!pw.valid && (pw.touched || pw.dirty)">
                        <div *ngIf="pw.errors?.['required']">Password cannot be empty</div>
                        <div *ngIf="pw.errors?.['minlength']">Password must be at least 8 characters long</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_confirm">Confirm password</label>
                    <input class="form-control" type="password" id="password_confirm" name="password_confirm" [(ngModel)]="password_confirm" required #pwc="ngModel" >
                    <div class="alert alert-warning p-2 mt-1" *ngIf="!pwc.valid && (pwc.touched || pwc.dirty)">
                        <div *ngIf="pwc.errors?.['required']">Password cannot be empty</div>
                    </div>
                    <div class="alert alert-warning p-2 mt-1" *ngIf="f.errors?.['matchingError'] && (pwc.touched || pwc.dirty)">
                        <div>Passwords have to match</div>
                    </div>
                </div>
                <div class="mt-3 d-flex flex-wrap buttons">
                    <button class="btn btn-primary me-3" type="submit">Register</button>
                    <button class="btn btn-primary" type="button" (click)="onBack()">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-popup-modal #popup>
    <h2 style="text-align: center; font-weight: bold;" class="mb-3">Registration successful! After you verify your email, you may log in.</h2>
    <div>
        <button class="btn btn-success" (click)="onLogin();">Go to login</button>
    </div>
</app-popup-modal>