.support-wrapper {
    display: flex;
    justify-content: center;
}

.support-ticket-list {
    max-width: 1200px;
}

.support-ticket-list-title {
    text-align: center;
}

.support-ticket-entry-issuer {
    font-size: 0.9rem;
    font-style: italic;
}

.support-ticket-entry-issuer-name:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}

.support-ticket-entry-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.support-ticket-entry {
    font-size: 1.1rem;
}

.support-ticket-entry-content {
    white-space: pre-wrap;
}

.support-ticket-entry-createdate {
    display: flex;
    align-items: flex-end;
}

.open-button-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.ticket-create {
    font-size: 1.2rem;
}

.ticket-create-button {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.ticket-create-button:hover {
    font-weight: 800;
    color: blue;
}

.support-ticket-entry-title-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 1rem;
    flex-wrap: wrap;
}

.support-ticket-entry-delete-button {
    all: unset;
    cursor: pointer;
    color: red;
    font-size: 1.3rem;
}

.support-ticket-entry-delete-button:hover {
    opacity: 0.5;
}

.ticket-status-filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem 1rem;
    flex-wrap: wrap-reverse;
}

.ticket-status-filter-remove,
.search-remove {
    all: unset;
    cursor: pointer;
    font-size: 1.25rem;
}

.ticket-status-filter-remove-label,
.ticket-status-filter-remove-label:hover {
    background-color: #cccccc94;
    color: black;
    border: none;
    margin-left: 0.5rem;
    cursor: text;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    font-weight: 600;
}

@media (max-width: 992px) {
    .support-ticket-entry-issuer {
        font-size: calc(0.7rem + 0.4vw);
    }

    .support-ticket-entry {
        font-size: calc(0.9rem + 0.4vw);
    }

    .ticket-create {
        font-size: calc(1rem + 0.3vw);
    }
}

@media (max-width: 576px) {
    .ticket-create {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}