<div class="pt-5 pb-5 support-wrapper">
    <div *ngIf="isClient || isAdmin; else anonymous"
        class="col-12 col-sm-11 col-md-10 col-lg-8 col-xxl-6 support-ticket-list">
        <h4 class="support-ticket-list-title mb-4">{{ isAdmin ? "Support tickets" : "Your support tickets" }}</h4>
        <div @appear *ngIf="isAdmin" class="btn btn-dark toggle-edit-button mb-3" (click)="toggleEditMode();">Toggle
            edit mode</div>
        <div class="search-filter-wrapper mb-3">
            <div *ngIf="isAdmin" class="input-group search-ticket">
                <button @appear *ngIf="searchTermResult" style="max-width: 1rem;" class="search-remove me-2"
                    type="button" placement="bottom" ngbTooltip="Cancel search" (click)="removeSearchTerm();">
                    <i class="fa-solid fa-xmark search-remove-icon"></i>
                </button>
                <div class="form-outline">
                    <input #searchticket type="search" class="form-control" placeholder="Search ticket by user..."
                        style="border-top-right-radius: 0; border-bottom-right-radius: 0;" [(ngModel)]="searchTerm"
                        (keydown)="handleEnterPress($event);" />
                </div>
                <button type="button" class="btn btn-primary" (click)="searchTicket();">
                    <i class="fas fa-search" style="font-size: 0.8rem;"></i>
                </button>
            </div>
            <div class="ticket-status-filter">
                <div @appear *ngIf="ticketStatusFilter != null" style="display: flex; align-items: center;">
                    <button style="max-width: 1rem;" class="ticket-status-filter-remove" type="button"
                        placement="bottom" ngbTooltip="Remove filter" (click)="removeTicketStatusFilter();">
                        <i class="fa-solid fa-xmark ticket-status-filter-remove-icon"></i>
                    </button>
                    <div #ticketstatusfilterlabel class="btn ticket-status-filter-remove-label"></div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="dropdown-label px-1">Filter by ticket status</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item" (click)="filterTicketStatus($event.target.innerText);">Open</li>
                        <li class="dropdown-item" (click)="filterTicketStatus($event.target.innerText);">Closed</li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="ticketList.length == 0">There aren't any tickets to list.</div>
        <div [@slideInList]="ticketList.length" class="support-ticket-entry-wrapper">
            <div @slideIn *ngFor="let ticket of ticketList" class="support-ticket-entry">
                <div class="card">
                    <div class="card-header">
                        <div class="mt-2 mb-2 support-ticket-entry-title-wrapper">
                            <div class="support-ticket-entry-title" style="font-weight: 800;">
                                <div>{{ ticket.title }}</div>
                                <div class="support-ticket-entry-state"
                                    [style]="{ color: ticket.closed ? 'red' : 'green' }">
                                    {{ ticket.closed ? "[CLOSED]" : "[OPEN]" }}
                                </div>
                            </div>
                            <button @toggleOnOff *ngIf="isAdmin && editMode" (click)="onDeleteTicket(ticket.ticketId);"
                                class="support-ticket-entry-delete-button" type="button" placement="bottom"
                                ngbTooltip="Delete ticket">
                                <i class="fa fa-trash support-ticket-entry-delete-icon"></i>
                            </button>
                        </div>
                        <div *ngIf="isAdmin" class="support-ticket-entry-issuer">Opened by: <span
                                class="support-ticket-entry-issuer-name" (click)="onSearchTicket(ticket.issuerName);">{{
                                ticket.issuerName
                                }}</span></div>
                    </div>
                    <div class="card-body">
                        <div class="support-ticket-entry-content">{{ ticket.content }}</div>
                        <div class="mt-4 open-button-wrapper">
                            <div class="support-ticket-entry-createdate" style="font-style: italic;">
                                {{ ticket.createDate | date:'yyyy.MM.dd. HH:mm' }}
                            </div>
                            <button type="button" class="btn-custom-formatted btn-custom-misc"
                                (click)="onGetTicketDetails(ticket.ticketId);">
                                Open<span style="margin-left: 0.5rem;">&#10141;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <app-support-page-count (currentPageChangeEvent)="setCurrentPage($event);" #pagecount>
            </app-support-page-count>
        </div>
        <div *ngIf="!isAdmin" class="mt-4 ticket-create">
            <div>You have an issue/question? We'd be happy to help.</div>
            <div>Create a new support ticket <span class="ticket-create-button"
                    (click)="onNavigateToCreateTicket();">here</span></div>
        </div>
    </div>
    <ng-template #anonymous>
        <div class="col-12 col-sm-11 col-md-10 col-lg-8 col-xxl-6 support-ticket-list">
            <h3 class="support-ticket-list-title mb-4" style="font-weight: 600;">Support</h3>
            <div class="anonymous-support">
                <div>
                    <div>You have an issue/question?</div>
                    <div>Write us an email to <a [href]="'mailto:' + supportEmail" class="support-email">
                            {{ supportEmail }}</a>!</div>
                    <div>We'd be happy to help you out.</div>
                </div>
                <hr class="anonymous-support-divider">
                <div class="mb-5">
                    <div class="mb-2">Alternatively, you can enter your email here and write down your problem, and
                        we'll get back
                        to you as soon as we can in email:</div>
                    <div *ngIf="errorMessage != null" class="alert alert-danger">{{ errorMessage }}</div>
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email"
                                [(ngModel)]="anonymousTicketEmail" email required #em="ngModel">
                            <div class="alert alert-warning p-2 mt-1" *ngIf="!em.valid && em.touched">
                                <div *ngIf="em.errors?.['required']">Email cannot be empty</div>
                                <div *ngIf="em.errors?.['email']">Email isn't valid</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content">Describe your issue</label>
                            <textarea class="form-control" [rows]="anonymousTicketContentRowCount" id="content"
                                name="content" [(ngModel)]="anonymousTicketContent" required #co="ngModel"></textarea>
                            <div class="alert alert-warning p-2 mt-1" *ngIf="!co.valid && co.touched">
                                <div *ngIf="co.errors?.['required']">Content cannot be empty</div>
                            </div>
                        </div>
                        <div class="mt-3 d-flex flex-wrap buttons">
                            <button class="btn-custom-formatted btn-custom-stock" type="submit">Send</button>
                        </div>
                    </form>
                </div>
                <div>
                    <h5>Join the community!</h5>
                    <div>Create an account <span class="member-redirect-link"
                            (click)="redirectToRegister();">here</span>, then you can submit support
                        tickets if you have any
                        problems in the
                        future.</div>
                    <div>Already a member? Log in <span class="member-redirect-link"
                            (click)="redirectToLogin();">here</span></div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<app-popup-modal *ngIf="!isAdmin && !isClient" #submitpopup>
    <h2 style="text-align: center; font-weight: bold;" class="mb-3">Ticket successfully created!</h2>
    <div style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;">
        <button class="btn-custom-formatted btn-custom-stock" (click)="closePopup();">Close</button>
    </div>
</app-popup-modal>

<app-popup-modal *ngIf="isAdmin" #deletepopup>
    <h2 style="text-align: center; font-weight: bold;" class="mb-3">Are you sure?</h2>
    <div style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap;">
        <button class="btn-custom-formatted btn-custom-stock" (click)="onConfirm();">Confirm</button>
        <button class="btn-custom-formatted btn-custom-danger" (click)="onCancel();">Cancel</button>
    </div>
</app-popup-modal>