<div class="card col-6 mx-auto mt-5">
    <div class="card-body bg-light">
        <h4>Login</h4>
        <div *ngIf="errorMessage != null" class="alert alert-danger">{{ errorMessage }}</div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" [(ngModel)]="username" required #un="ngModel">
                <div class="alert alert-warning p-2 mt-1" *ngIf="!un.valid && (un.touched || un.dirty)">
                    <div *ngIf="un.errors?.['required']">Username cannot be empty</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" [(ngModel)]="password" required #pw="ngModel">
                <div class="alert alert-warning p-2 mt-1" *ngIf="!pw.valid && (pw.touched || pw.dirty)">
                    <div *ngIf="pw.errors?.['required']">Password cannot be empty</div>
                </div>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Login</button>
            <button class="btn btn-primary mt-3 ms-3" type="button" (click)="onBack()">Back</button>
        </form>
    </div>
</div>