.forgot-password {
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.forgot-password:hover {
    color: var(--bs-primary);
    font-weight: 700;
    cursor: pointer;
}

.buttons {
    row-gap: 1rem;
}

.karate-icon {
    width: 5rem;
    position: absolute;
    right: 0.5rem;
    top: 1rem;
}