<div class="card-wrapper">
    <div class="card col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto home-card">
        <div class="card-header-custom">
            <h4 class="text-center title">{{ "home.welcome.title" | translate }}</h4>
        </div>
        <div class="card-body-custom">
            <div class="row d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-center">
                    <button class="btn-custom-formatted btn-custom-stock" (click)="onLogin()">{{ "home.welcome.login" |
                        translate }}</button>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
                <div class="col-6 d-flex justify-content-center">
                    <button class="btn-custom-formatted btn-custom-stock" (click)="onRegister()">{{
                        "home.welcome.register"
                        | translate }}</button>
                </div>
            </div>
            <img src="assets/img/karate-icon.png" alt="karate-icon" class="karate-icon">
        </div>
    </div>
</div>