<app-header></app-header>

<div class="page-background"></div>
<div class="row justify-content-center profile-info mx-0">
    <div class="col-6 d-flex flex-column justify-content-start align-items-center" style="z-index: 10;">
        <h4 class="mt-2 text-center">Home page</h4>
        <div class="text-center">Your name: {{ username }}</div>
        <button class="btn btn-secondary mt-2" (click)="onLogout()">Logout</button>
    </div>
</div>

<app-popup-modal #popup>
    <h2 class="mb-3">Session expired!</h2>
    <div>
        <button class="btn btn-primary me-3" (click)="closePopup();">Extend session</button>
        <button class="btn btn-danger" (click)="onLogout();">Logout</button>
    </div>
</app-popup-modal>