.profile-info-wrapper {
    margin: 2rem 0 3rem 0;
}

.max-width {
    max-width: 1200px;
}

.card-body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.forgot-password-link {
    font-style: italic;
    text-decoration: underline;
}

.forgot-password-link:hover {
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

button {
    background: #5469d4;
    color: #ffffff;
    border-radius: 0.35rem;
    border: none;
    padding: 0.6rem 1rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.9rem;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
}

button:hover {
    filter: contrast(150%);
    opacity: 0.8;
}

.card-transactions {
    max-width: 600px;
}

.card-body-transactions {
    gap: 0.5rem;
}

.transaction-entry-wrapper thead {
    border-bottom: 2px solid #b9b9b9;
}

.transaction-entry-wrapper thead th:last-of-type,
.transaction-entry-wrapper tbody td:last-of-type {
    padding-right: 0.7rem;
}

.transaction-download-button {
    all: unset;
    cursor: pointer;
}

.transaction-download-button:hover {
    filter: contrast(150%);
    opacity: 0.6;
}

@media (max-width: 992px) {
    .card-body {
        font-size: calc(0.9rem + 0.5vw);
    }

    .card-body-outer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .membership-button,
    .list-button {
        font-size: calc(0.7rem + 0.3vw);
    }

    .receipts-link::after {
        font-size: calc(0.6rem + 0.3vw);
    }
}