<div class="row justify-content-center profile-info-wrapper">
    <div
        class="col-12 col-sm-11 col-md-10 col-xl-8 d-flex flex-column justify-content-start align-items-center p-0 max-width">
        <div class="card w-100 p-0">
            <div class="card-header">
                <h3 class="mt-2 text-center">{{ 'site.profile.main.title' | translate }}</h3>
            </div>
            <div @appear class="card-body card-body-outer">
                <div *ngIf="isAdmin">{{ 'site.profile.main.accounttype' | translate }} <span class="ms-1"
                        style="font-weight: bold; color: red;">ADMIN</span></div>
                <div>{{ 'site.profile.main.name' | translate }}<span class="ms-1">{{ profileData.fullName }}</span>
                </div>
                <div>{{ 'site.profile.main.username' | translate }}<span class="ms-1" style="font-weight: 600;">{{
                        profileData.username }}</span></div>
                <div>{{ 'site.profile.main.email' | translate }}<span class="ms-1">{{ profileData.email }}</span></div>
                <div>{{ 'site.profile.main.changepassword' | translate }} <span class="forgot-password-link"
                        (click)="onRedirectToResetPassword();">{{ 'site.profile.main.changepasswordlink' | translate
                        }}</span></div>
                <div>{{ 'site.profile.main.memberdate' | translate }}<span class="ms-1" style="font-style: italic;">{{
                        profileData.memberSince |
                        date:'yyyy.MM.dd. HH:mm' }}</span>
                </div>
                <div *ngIf="!isAdmin">{{ 'site.profile.main.membershipfee' | translate }}<span class="ms-1">{{
                        profileData.hasPaidMembershipFee ? ('site.profile.main.membershipfee_yes' | translate) :
                        ('site.profile.main.membershipfee_no' | translate)
                        }}</span></div>
                <div *ngIf="!profileData.hasPaidMembershipFee && !isAdmin">
                    <button class="mt-1 membership-button" style="width: fit-content;"
                        (click)="onNavigateToCheckout();">
                        <span id="button-text">{{ 'site.profile.main.pay' | translate }}<span
                                style="margin-left: 0.5rem;">&#10141;</span></span>
                    </button>
                </div>
                <div *ngIf="!isAdmin" class="mt-4">
                    <div class="card card-transactions">
                        <div class="card-header card-header-transactions">
                            <h4 class="mt-2 text-start">{{ 'site.profile.main.receiptlist' | translate }}</h4>
                        </div>
                        <div class="card-body card-body-transactions">
                            <button class="list-button" (click)="onListTransactions();" style="width: fit-content;">{{
                                'site.profile.main.list' | translate }}</button>
                            <div class="table-responsive mt-3">
                                <table [@slideInList]="transactionList"
                                    class="table table-hover table-striped table-light transaction-entry-wrapper">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col" style="width: 2rem;">#</th>
                                            <th scope="col">{{ 'site.profile.main.month' | translate }}</th>
                                            <th scope="col"
                                                style="text-align: right; width: 6rem; white-space: nowrap;">{{
                                                'site.profile.main.receipt' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="transactionList.length == 0">
                                            <td colspan="3">---</td>
                                        </tr>
                                        <tr @slideIn *ngFor="let transaction of transactionList;let i = index"
                                            class="transaction-entry">
                                            <th scope="col">{{ i + 1 }}</th>
                                            <td>{{ transaction.yearMonth |
                                                date:'yyyy.MM.' }}</td>
                                            <td style="text-align: center;">
                                                <div *ngIf="!transaction.monthlyTransactionReceiptPath"
                                                    style="color: red;">
                                                    ---
                                                </div>
                                                <button *ngIf="transaction.monthlyTransactionReceiptPath"
                                                    class="transaction-download-button" type="button"
                                                    (click)="onDownloadReceipt(transaction.monthlyTransactionReceiptPath);"
                                                    placement="bottom"
                                                    [ngbTooltip]="'site.profile.main.download' | translate">
                                                    <i class="fa-solid fa-file" style="font-size: 1.2rem;"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>