<div class="row justify-content-center profile-info-wrapper">
    <div class="col-11 col-md-10 col-xl-8 d-flex flex-column justify-content-start align-items-center p-0 max-width">
        <div class="card w-100 p-0">
            <div class="card-header">
                <h3 class="mt-2 text-center">Your profile info</h3>
            </div>
            <div class="card-body">
                <div>Username: <span class="ms-1" style="font-weight: 600;">{{ profileData.username }}</span></div>
                <div>Email: <span class="ms-1">{{ profileData.email }}</span></div>
                <div>Change current password <span class="forgot-password-link"
                        (click)="onRedirectToResetPassword();">here</span></div>
                <div>Member since: <span class="ms-1" style="font-style: italic;">{{ profileData.memberSince |
                        date:'yyyy.MM.dd HH:mm' }}</span>
                </div>
                <div>Monthly membership fee paid: <span class="ms-1">{{ profileData.hasPaidMembershipFee ? "Yes" : "No"
                        }}</span></div>
                <div>
                    <button class="mt-1 mb-4" style="width: fit-content;" (click)="onNavigateToCheckout();">
                        <span id="button-text">Pay membership</span>
                    </button>
                </div>
                <div>
                    <div class="card card-transactions">
                        <div class="card-header card-header-transactions">
                            <h4 class="mt-2 text-start">List of monthly transaction receipts</h4>
                        </div>
                        <div class="card-body card-body-transactions">
                            <button class="list-button" (click)="onListTransactions();" style="width: fit-content;">List
                                transactions</button>
                            <div [@slideInList]="transactionList" class="transaction-entry-wrapper">
                                <div @slideIn *ngFor="let transaction of transactionList" class="transaction-entry">
                                    <div>{{ transaction.yearMonth | date:'yyyy.MM' }}</div>
                                    <div style="white-space: nowrap;"> --- </div>
                                    <div>
                                        <div *ngIf="!transaction.monthlyTransactionReceiptPath" style="color: red;">
                                            Receipt
                                            missing</div>
                                        <button *ngIf="transaction.monthlyTransactionReceiptPath"
                                            class="transaction-download-button" type="button"
                                            (click)="onDownloadReceipt(transaction.monthlyTransactionReceiptPath);"
                                            placement="bottom" ngbTooltip="Download receipt">
                                            <i class="fa-solid fa-file" style="font-size: 1.2rem;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>