@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.profile-info-wrapper {
    margin: 2rem 0 3rem 0;
}

.max-width {
    max-width: 1200px;
}

.card-body {
    font-size: 1.2rem;
}

.wrapper-card-body-outer,
.wrapper-card-body-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saved-payment {
    border: none;
}

.card-info-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    max-width: 500px;
    margin: 1rem 0 1.5rem 0;
}

.card-info input {
    font-family: 'Montserrat', sans-serif;
}

.formatted-button {
    background: #5469d4;
    color: #ffffff;
    border-radius: 0.35rem;
    border: none;
    padding: 0.6rem 1rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.formatted-button:hover {
    filter: contrast(150%);
    opacity: 0.8;
}

.list-animation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.saved-payment-method-wrapper {
    display: flex;
}

.saved-payment-method {
    display: flex;
    gap: 0.3rem 1rem;
    flex-wrap: wrap;
    flex: 1;
    font-size: 1rem;
}

.saved-payment-method-icon-img {
    height: 2rem;
}

.saved-payment-method-last4 {
    flex: 1;
    gap: 0 0.5rem;
}

.saved-payment-method-exp-content {
    margin-left: 0.3rem;
    font-weight: 600;
}

.primary-payment-method-primary {
    color: lightgreen;
}

.primary-payment-method-set-primary {
    font-variant: small-caps;
    color: blue;
    cursor: pointer;
}

.primary-payment-method-set-primary:hover {
    font-weight: bold;
    text-decoration: underline;
}

.primary-payment-method-primary,
.primary-payment-method-set-primary {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

.saved-payment-method-selector-wrapper,
.saved-payment-method-icon,
.saved-payment-method-last4,
.saved-payment-method-exp,
.saved-payment-method-delete {
    display: flex;
    align-items: center;
}

.saved-payment-method-edit {
    all: unset;
}

.saved-payment-method-delete {
    all: unset;
    color: red;
}

.saved-payment-method-edit:hover,
.saved-payment-method-delete:hover {
    cursor: pointer;
    opacity: 0.5;
}

.creditcard-button-wrapper,
.paypal-button-wrapper {
    align-self: flex-start;
}

.saved-payment-method-last4,
.saved-payment-method-exp {
    flex-shrink: 0;
}

.card-info-body label,
.card-info-body input {
    font-family: 'Montserrat', sans-serif;
}

.card-info-body input::placeholder {
    color: #b5b5b5;
}

.StripeElement--focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.hidden {
    display: none;
}

.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}

.spinner {
    color: #ffffff;
    font-size: 1.4rem;
    margin: 0px auto;
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.spinner:before,
.spinner:after {
    position: absolute;
    content: "";
}

.spinner:before {
    width: calc(0.7rem + 4px);
    height: calc(1.4rem + 4px);
    background-color: #25316e;
    border-radius: 0;
    top: -2px;
    left: -2px;
    -webkit-transform-origin: calc(0.7rem + 2px);
    transform-origin: calc(0.7rem + 2px);
    -webkit-animation: loading 2s infinite ease;
    animation: spin 1.5s infinite ease;
}

.spinner:after {
    width: calc(0.7rem + 1px);
    height: 0.55rem;
    background-color: #25316e;
    border-radius: 0;
    top: -1px;
    left: 50%;
    -webkit-transform-origin: 0 calc(0.7rem + 1px);
    transform-origin: 0 calc(0.7rem + 1px);
    -webkit-animation: loading 2s infinite ease;
    animation: spin 1.5s infinite ease;
}

.creditcard-button,
.paypal-button {
    font-size: 0.9rem;
}

.back-button-wrapper {
    margin-bottom: 1rem;
    align-self: flex-start;
}

.back-button {
    font-size: 0.9rem;
}

.checkout-button {
    background-color: #25316e;
}

.checkout-button:hover {
    opacity: 0.7;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 992px) {
    .wrapper-card-body-outer {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .card-body {
        font-size: calc(0.9rem + 0.5vw);
    }

    .saved-payment-method {
        font-size: calc(0.8rem + 0.4vw);
    }

    .saved-payment-method-icon-img {
        height: calc(1.3rem + 1vw);
    }

    .formatted-button {
        font-size: calc(0.9rem + 0.5vw);
    }

    .back-button,
    .creditcard-button,
    .paypal-button {
        font-size: calc(0.7rem + 0.3vw);
    }
}

@media (max-width: 768px) {
    .back-button-wrapper {
        align-self: center;
    }
}

@media (max-width: 576px) {
    .saved-payment-method-exp-text {
        display: none;
    }

    .saved-payment-method-exp-content {
        margin-left: 0;
    }

    .saved-payment-body {
        padding-left: 0;
        padding-right: 0;
    }
}