<div class="row justify-content-center user-profile-info-wrapper">
    <div
        class="col-12 col-sm-11 col-md-10 col-xl-8 d-flex flex-column justify-content-start align-items-center p-0 max-width">
        <div class="card w-100 p-0">
            <div class="card-header">
                <h3 class="mt-2 text-center">User profile info</h3>
            </div>
            <div @appear class="card-body card-body-outer">
                <div>Name: <span class="ms-1">{{ userProfileInfo.fullName }}</span></div>
                <div>Username: <span class="ms-1" style="font-weight: 600;">{{ userProfileInfo.username }}</span></div>
                <div>Email: <span class="ms-1">{{ userProfileInfo.email }}</span></div>
                <div>Member since: <span class="ms-1" style="font-style: italic;">{{ userProfileInfo.memberSince |
                        date:'yyyy.MM.dd. HH:mm' }}</span>
                </div>
                <div>User enabled: <span class="ms-1">{{
                        userProfileInfo.enabled ? "Yes" : "No"
                        }}</span></div>
                <div>User verified: <span class="ms-1">{{
                        userProfileInfo.verified ? "Yes" : "No"
                        }}</span></div>
                <div>Monthly membership fee paid: <span class="ms-1">{{
                        userProfileInfo.hasPaidMembershipFee ? "Yes" : "No"
                        }}</span></div>
                <div>Payment approved: <span class="ms-1">{{
                        userProfileInfo.approved ? "Yes" : "No"
                        }}</span></div>
                <div class="mt-4">
                    <div class="card card-transactions">
                        <div class="card-header card-header-transactions">
                            <h4 class="mt-2 text-start">List of monthly transaction receipts</h4>
                        </div>
                        <div class="card-body card-body-transactions">
                            <div class="table-responsive">
                                <table [@slideInList]="transactionList"
                                    class="table table-hover table-striped table-light transaction-entry-wrapper">
                                    <thead class="thead">
                                        <tr>
                                            <th scope="col" style="width: 2rem;">#</th>
                                            <th scope="col">Issued month</th>
                                            <th scope="col" style="text-align: right; width: 6rem;">Receipt
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="transactionList.length == 0">
                                            <td colspan="3">---</td>
                                        </tr>
                                        <tr @slideIn *ngFor="let transaction of transactionList;let i = index"
                                            class="transaction-entry">
                                            <th scope="col">{{ i + 1 }}</th>
                                            <td>{{ transaction.yearMonth |
                                                date:'yyyy.MM.' }}</td>
                                            <td style="text-align: center;">
                                                <div *ngIf="!transaction.monthlyTransactionReceiptPath"
                                                    style="color: red;">
                                                    ---
                                                </div>
                                                <button *ngIf="transaction.monthlyTransactionReceiptPath"
                                                    class="transaction-download-button" type="button"
                                                    (click)="onDownloadReceipt(transaction.monthlyTransactionReceiptPath);"
                                                    placement="bottom" ngbTooltip="Download receipt">
                                                    <i class="fa-solid fa-file" style="font-size: 1.2rem;"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-3">
                    <button class="btn-custom-formatted btn-custom-stock"
                        (click)="onNavigateToCreateReceipt();">Manually create receipts<span
                            style="margin-left: 0.5rem;">&#10141;</span></button>
                </div>
            </div>
        </div>
    </div>
</div>