.user-profile-info-wrapper {
    margin: 2rem 0 3rem 0;
}

.max-width {
    max-width: 1200px;
}

.card-body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.card-transactions {
    max-width: 600px;
}

.card-body-transactions {
    gap: 0.5rem;
}

.transaction-entry-wrapper thead {
    border-bottom: 2px solid #b9b9b9;
}

.transaction-entry-wrapper thead th:last-of-type,
.transaction-entry-wrapper tbody td:last-of-type {
    padding-right: 0.7rem;
}

.transaction-download-button {
    all: unset;
    cursor: pointer;
}

.transaction-download-button:hover {
    filter: contrast(150%);
    opacity: 0.6;
}

@media (max-width: 992px) {
    .card-body {
        font-size: calc(0.9rem + 0.5vw);
    }

    .card-body-outer {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}