<div #header [@headerAppearDisappear]="headerInvisible ? 'invisible' : 'visible'" class="wrap-background">
    <div class="navbar navbar-expand-lg row header navbar-light mx-0" role="navigation">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header"
            aria-controls="header" aria-expanded="false" aria-label="Toggle navigation" style="width: fit-content;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="assets/img/deac.png" alt="deac-logo" class="header-logo-smallscreen">
        <div class="collapse navbar-collapse" id="header">
            <div style="flex: 1; display: flex; flex-direction: column; gap: 0.3rem;">
                <div class="mx-0 topbar-smallscreen">
                    <form class="form-inline searchbox-form-smallscreen" style="height: fit-content;">
                        <input class="form-control searchbox" type="text" placeholder="Search..." aria-label="Search">
                    </form>
                    <div *ngIf="isAdmin()" class="nav-item admin-tab-smallscreen">
                        <a class="nav-link header-admin" id="header-admin" (click)="onNavigate('admin');">Admin</a>
                    </div>
                    <div *ngIf="isLoggedIn" class="login-button" (click)="onLogout();">Log out</div>
                    <div *ngIf="!isLoggedIn" class="logout-button" (click)="onNavigateToLogin();">Sign in</div>
                </div>
                <ul class="navbar-nav" style="width: 100%;">
                    <div class="d-flex left">
                        <li *ngIf="isAdmin()" class="nav-item admin-tab">
                            <a class="nav-link header-admin" id="header-admin" (click)="onNavigate('admin');">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-dashboard" id="header-dashboard"
                                (click)="onNavigate('dashboard');" #defaultTab>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-news" id="header-news" (click)="onNavigate('news');">News</a>
                        </li>
                        <form class="form-inline searchbox-form">
                            <input class="form-control searchbox" type="text" placeholder="Search..."
                                aria-label="Search">
                        </form>
                    </div>
                    <div class="d-flex middle">
                        <img src="assets/img/deac.png" alt="deac-logo" class="header-logo me-1">
                        <div class="navbar-brand title">DEAC Kyokushin Karate</div>
                    </div>
                    <div class="d-flex right">
                        <li *ngIf="isClient() || isAdmin()" class="nav-item">
                            <a class="nav-link header-profile" id="header-profile"
                                (click)="onNavigate('profile');">Profile</a>
                        </li>
                        <li class="nav-item support-notification-indicator-outer-wrapper">
                            <div *ngIf="supportNotificationCount > 0" class="support-notification-indicator">{{
                                supportNotificationCount }}</div>
                            <a class="nav-link header-support" id="header-support"
                                (click)="onNavigate('support');">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-about" id="header-about" (click)="onNavigate('about');">About</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>