@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

.wrap-background {
    background-color: #e6ac00;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9997;
    -webkit-box-shadow: 0px 8px 25px -3px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 8px 25px -3px rgba(0, 0, 0, 0.68);
}

.navbar-nav {
    gap: 1rem;
}

.header-logo {
    height: 4rem;
}

.title {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    text-align: center;
    font-weight: 500;
    flex: 1;
    align-items: center;
    gap: 1rem;
}

.left {
    justify-content: start;
}

.right {
    justify-content: end;
}

.middle {
    gap: 0.2rem;
}

.navbar {
    justify-content: center;
    padding: 1rem;
}

.searchbox {
    border-radius: 0.5em;
    width: 100%;
    min-width: 10rem;
    background-color: black;
    border-color: black;
    color: white;
}

.searchbox::placeholder {
    color: white;
}

.searchbox:focus {
    background-color: black;
    color: white;
    border-color: white;
}

.nav-item.active {
    background-color: #00000031;
    border-radius: 0.5rem;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
}

.nav-item.active .nav-link {
    color: black;
    font-weight: bold;
}

.nav-link {
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 0.7rem !important;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item:hover {
    background-color: #00000031;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}

.header-logo-smallscreen {
    display: none;
}

.navbar-toggler {
    margin-left: 0.5rem;
}

.topbar-smallscreen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem 1rem;
}

.searchbox-form-smallscreen {
    display: none;
}

.login-button,
.logout-button {
    background: rgb(222, 166, 0);
    background: linear-gradient(90deg, rgba(222, 166, 0, 1) 0%, rgba(159, 119, 0, 1) 100%);
    color: #ffffff;
    border-radius: 0.35rem;
    border: none;
    padding: 0.6rem 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    width: fit-content;
    white-space: nowrap;
}

.login-button:hover,
.logout-button:hover {
    color: black;
    filter: contrast(150%);
    opacity: 0.7;
    font-weight: 900;
}

.admin-tab-smallscreen {
    display: none;
}

@media (min-width: 2000px) {
    .wrap-background {
        display: flex;
        justify-content: center;
    }

    .header {
        width: 2000px;
    }
}

@media (max-width: 1400px) {
    .searchbox-form,
    .admin-tab {
        display: none;
    }

    .searchbox-form-smallscreen,
    .admin-tab-smallscreen {
        display: block;
    }
}

@media (max-width: 991px) {
    .navbar {
        justify-content: space-between;
        align-self: center;
        gap: 1rem;
        padding: 0;
        margin: 0;
        height: 100%;
        font-size: calc(0.7rem + 0.5vw);
    }

    .searchbox {
        font-size: calc(0.7rem + 0.5vw);
    }

    .navbar-expand-lg #header {
        padding-left: 0.5rem;
    }

    .wrap-background {
        padding: 1rem;
    }

    .navbar-nav .middle {
        display: none !important;
    }

    .header-logo-smallscreen {
        display: block;
        object-fit: scale-down;
        width: 6rem;
    }

    .navbar-expand-lg .navbar-nav .right {
        justify-content: start;
    }

    .navbar-expand-lg .navbar-nav .left,
    .navbar-expand-lg .navbar-nav .right {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 0.5rem;
    }

    .topbar-smallscreen {
        order: 3;
        justify-content: space-between;
    }

    .admin-tab {
        display: block;
    }

    .admin-tab-smallscreen {
        display: none;
    }
}

@media (max-width: 576px) {
    .navbar-toggler {
        margin-left: 0;
    }

    .navbar-expand-lg #header {
        padding-left: 0;
    }
}