.wrap-background {
    background-color: #e6ac00;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0px 8px 25px -3px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 8px 25px -3px rgba(0, 0, 0, 0.68);
}

.header-logo {
    height: 4rem;
}

.title {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    text-align: center;
}

.left,
.right {
    font-weight: 500;
    flex: 1;
    align-items: center;
    gap: 2rem;
}

.left {
    justify-content: start;
}

.right {
    justify-content: end;
}

.navbar {
    justify-content: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: gray;
}

.searchbox {
    border-radius: 0.5em;
    width: 100%;
    background-color: black;
    border-color: black;
    color: white;
}

.searchbox::placeholder {
    color: white;
}

.searchbox:focus {
    background-color: black;
    color: white;
    border-color: white;
}

.nav-item.active {
    background-color: #b38600;
    border-radius: 0.5rem;
}

.nav-item.active .nav-link {
    color: black;
}

.nav-item:hover {
    background-color: #b38600;
    border-radius: 0.5rem;
    cursor: pointer;
}

.nav-link:hover {
    color: black;
}

.header-logo-smallscreen {
    display: none;
}

.navbar-toggler {
    margin-left: 0.5rem;
}

@media (min-width: 2000px) {
    .wrap-background {
        display: flex;
        justify-content: center;
    }

    .header {
        width: 2000px;
    }
}

@media (max-width: 991px) {
    .navbar {
        justify-content: space-between;
        align-self: center;
        gap: 1rem;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .navbar-expand-lg #header {
        padding-left: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav .header-logo {
        display: none;
    }

    .wrap-background {
        padding: 1.5rem 1rem;
    }

    .header-logo-smallscreen {
        display: block;
        object-fit: scale-down;
        width: 6rem;
    }

    .navbar-expand-lg .navbar-nav .title {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .right {
        justify-content: start;
    }

    .navbar-expand-lg .navbar-nav .left,
    .navbar-expand-lg .navbar-nav .right {
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 0.5rem;
    }

    .navbar-expand-lg .navbar-nav .searchbox-form {
        order: 3;
    }
}

@media (max-width: 576px) {
    .navbar-toggler {
        margin-left: 0;
    }

    .navbar-expand-lg #header {
        padding-left: 0;
    }
}